<div style="text-align:center">
  <img src="../assets/logo.png" alt="Sim-Tech logo" class="logo"  width="200" height="200" />

  <h1 class="app-title"> Sim-Tech Todo List</h1>
</div>
<div class="container">
  <h2>Add a ToDo</h2>
  <br>
  <input type="text" class="input-text" placeholder="Type a todo" />
  <button class="add-btn">Add ToDo</button>
  <div class="list">
    <ul>
      <li>
        <input type="checkbox" name="isDone" />
        Task1
        <button class="btn">Delete</button>
      </li>
    </ul>
  </div>
</div>
